@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-width: 421px;
    
}

#container {
    background-color: black;
    overflow-x: hidden;
    width: 100%;
    margin: auto;
    max-height: 100vh;
    
}

/* ----------------------  Large Navigation  ------------------------ */

#logo {
    height: 40px;
    width: 200px;
    position: relative;
    left: 50px;
    top: 15px;
    font-size: 40px;
}

#logo a {
    text-decoration: none;
    color:#0F7173; /*--- teal color ---*/
    letter-spacing: 2px;
}

#logo a:hover {
    text-decoration: underline;
}

nav {
    grid-area: "nav";
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: black;
    z-index: 10;
}

nav ul {
    width: 49%;
    text-align: center;
}

.nav-links {
    position: relative;
    left: 50%;
    top: -10px;
    width: 100%;
    text-align: center;
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #FE6D73; /*--- pink color ---*/
    margin: 0px 15px;
    font-weight: 100;
    letter-spacing: 2px;
    width: 30px;
}

nav ul li a:hover {
    text-decoration: underline;
    transform: translateY(3px);
}

nav ul li a:active {
    color: white;
}

#social-links {
    width: 300px;
    height: 80px;
    position: absolute;
    right: -30px;
    top: 30px;
}

.social-links {
    margin: 20px;
    position: relative;
    top: -7px;
}

/* ----------------------  Skills  Page  ------------------------ */

#skills-list {
    width: 400px;
    position: relative;
    bottom: -120px;
    left: 180px;
}

#skills-list h3 {
    font-size: 24px;
    animation-name: headerfade;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

#skills-page-list li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 20px;
    pointer-events: none;
}

#skills-page-list {
    font-size: 18px;
}

#skills {
    grid-area: "skills";
    padding-top: 80px;
    height: 100vh;
    background-color: black;
    color: white;
}

#skills-container {
    position: relative;
    top: 340px;
    left: 60px;
    margin-bottom: -500px;
}

#circle-1 {
    position: relative;
    bottom: 170px;
    right: 340px;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: #264048;
    animation-name: zoom;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    box-shadow: 0px 0px 13px -1px white;
}

#circle-1:hover {
    right: 50px;
    bottom: 25px;
    transition: .5s ease;
    transition-delay: .1s;
    animation-name: textfade;
    animation-duration: 5s;
    animation-iteration-count: 1;
    z-index: 1;
}

#circle-2 {
    float: right;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color:#264048;
    position: relative;
    left: 90px;
    bottom: 500px;
    box-shadow: 0px 0px 13px -1px white;
}

#circle-2:hover {
    animation: none;
}

#past-work {
    position: relative;
    top: 200px;
    left: 120px;
    width: 500px;
    height: 600px;
    font-size: 35px;
}

#past-work h3, #skills-list h3 {
    color: #FE6D73;
}

#past-work li {
    padding-left: 70px;
    padding-bottom: 20px;
    list-style: none;
    font-size: 28px;
    pointer-events: none;
}

#circle-skill1 {
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    position: relative;
    bottom: 750px;
    left: 500px;
    animation-name: nonactive;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-direction: normal;
    z-index: 1;
    box-shadow: 0px 0px 13px 0px white;
}

#circle-skill1:hover {
    padding: 1px;
    transform: scale(2, 2);
    transition: .5s ease;
    transition-delay: .1s;
    animation-name: hover;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

#html-svg-scale {
    width: 155px;
    height: 150px;
    position: relative;
    right: 26px;
    bottom: 24px;
}

#html-cr {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: none;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: translate(6px,5px);
}

#html-cr:hover {
    stroke: #0f7173; /*teal*/
    stroke-dasharray: 270;
}

#circle-skill2 {
    background-color:#0F7173; /*--- teal color ---*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    bottom: 600px;
    left: 455px;
    animation-name: nonactive;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-direction:alternate-reverse;
    box-shadow: 0px 0px 13px 0px white;
    z-index: 1;
}

#circle-skill2:hover {
    transform: scale(2, 2);
    transition: .5s ease;
    transition-delay: .1s;
    animation-name: hover;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

#css-svg-scale {
    width: 155px;
    height: 150px;
    position: relative;
    right: 26px;
    bottom: 24px;
}

#css-cr {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: none;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: translate(6px,5px); 
}

#css-cr:hover {
    stroke: #fe6d73; /*pink color*/
    stroke-dasharray: 230;
}

#circle-skill3 {
    background-color: #FE6D73; /*-- pink color --*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    bottom: 600px;
    left: 150px;
    animation-name: nonactive;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-direction: normal;
    box-shadow: 0px 0px 13px 0px white;
    
}

#circle-skill3:hover {
    transform: scale(2, 2);
    transition: .5s ease;
    transition-delay: .1s;
    animation-name: hover;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

#js-svg-scale {
    width: 155px;
    height: 150px;
    position: relative;
    right: 26px;
    bottom: 24px;
}

#js-cr {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: none;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: translate(6px,5px); 
}

#js-cr:hover {
    stroke: #e7ecef; /*white*/
    stroke-dasharray: 170;
}

#skills1 {
    color: #264048;
    position: relative;
    left: 26px;
    bottom: 110px;
    pointer-events: none;
}

#skills2 {
    color: white;
    position: relative;
    left: 30px;
    bottom: 110px;
    pointer-events: none;
}

#skills3 {
    color: #264048;
    position: relative;
    left: 15px;
    bottom: 110px;
    pointer-events: none;
}

#applications {
    width: 50px;
    position: relative;
    left: 20px;
    top: 0px;
    font-size: 34px;
    color: #FE6D73;
    letter-spacing: 2px;
    transform: rotateZ(-90deg);
    z-index: 0;
}

#coding {
    width: 50px;
    position: relative;
    left: 520px;
    bottom: 1150px;
    font-size: 34px;
    color: #FE6D73;
    letter-spacing: 2px;
}

/*--------------------------  Resume Page*/
#resume {
    width: 100%;
    height: 50vh;
    display: grid;
    
}

#resume.col1 {
    width: 440px;
}

#resume h1 {
    width: 440px;
    margin: auto;
    font-size: 24px;
    color: #FE6D73;
    margin-top: -590px;
    margin-left: 400px;
    
}

#resume h1:hover {
    transform: translateY(3px);
    color: aqua;
}

#resume a {
    text-decoration: none;
    position: relative;
    left: 40px;
}

#resume a:hover {
    transform: translateY(50%);
    color: #FE6D73;
}

#resume img {
    position: relative;
    bottom: 160px;
    left: 110px;
}

/*--------------------------  Main Resume Page --*/
#resume-container {
    font-size: 18px;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto fr;
    grid-template-rows: auto fr auto;
    grid-template-areas:
        "aside resume"
        "aside resume";
    list-style: circle;
    position: relative;
    width: 100%;
    height: 100vh;
    padding-bottom: 150px;
    margin-top: 120px;
}

#main-resume {
    padding: 20px;
    grid-area: header;

}

h2 {
    font-size: 34px;
    margin: 0;
    color: #FE6D73;
}

#address {
    width: 175px;
    position: relative;
    margin-top: 10px;
    left: 84%;
    color: white;
}

#port-link {
    width: 400px;
    position: relative;
    left: 75%;
    margin-bottom: 10px;
    color: white;
}

#main-background {
    padding: 20px;
    grid-area: resume;
    color: white;
}

#side {
    width: 300px;
    padding: 20px;
    grid-area: aside;
    color: white;
}

#soft-skills {
    margin-top: 30px;
    color: white;
}

/*--------------------------  Circle Animations --*/
@keyframes nonactive {
    0% {
        transform: translateX(10px);
        transform: translateY(20px);
    }
    50% {
        transform: translateX(20px);
        transform: translateY(-10px);
        transform: translateZ(20px);
    }
    100% {
        transform: translateX(10px);
        transform: translateY(20px);
    }
}

@keyframes hover {
    to {transform:disabled;}
}

@keyframes zoom {
    0% {
        transform: scale(1);
        
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoom1 {
    0% {
        transform: scale(1.1);
        
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1.1);
    }
}

           /*-- fade animations --*/
@keyframes textfade {
    from {
        color: transparent;
    }
    to {
        color: white;
    }
}

@keyframes headerfade {
    from {
        color: transparent;
    }
    to {
        color:#FE6D73;
    }
}

/*-----------------------Media Queries*/
@media screen and (max-width:1100px) {
    body {
        max-width: 1200px;
    }
    
    #circle-1 {
        z-index: 1;
    }
    
    #circle-2 {
        width: 300px;
        height: 300px;
        top: -350px;
        left: -300px;
        z-index: 0;
    }
    
    
    #past-work {
        font-size: 14px;
        width: 270px;
        top: 80px;
        left: 50px;
    }
    
    #skills-page-lists li {
        font-size: 14px;
        position: relative;
        left: -50px;
    }
    
    #skills-container {
        top: 800px;
        left: -300px;
    }
    
    #circle-skill3 {
        left: 600px;
    }
    
    #circle-skill2 {
        top: -650px;
    }
    
    #resume h1 {
        position: relative;
        bottom: 150px;
    }
    
    #resume a {
        bottom: 150px;
    }
}

@media screen and (max-width:972px) {    
    /*nav / home page*/
    nav li {
        font-size: 14px;
        left: 30px;
        margin: 0px -5px;
    }
    
    .social-links {
        position: relative;
        right: -70px;
        margin-right: -10px;
    }
    
    /*end of nav*/
    
    #coding {
        bottom: 1150px;
    }
    
    #resume-container {
        display: grid;
        grid-template-columns: auto fr;
        grid-template-rows: auto fr auto;
        grid-template-areas:
        "aside"
        "resume";
        overflow: hidden;
    }
}

@media screen and (max-width:768px) {   
    /*nav / home page*/
    nav {
        height: 150px;
    }
    
    nav ul {
        position: relative;
        width: 400px;
        left: -197px;
        top: 60px;
    }
    
    nav li {
        margin: 0px -10px;
    }
    
    nav ul li a {
        font-size: 15px;
    }
    
    #circle-2 {
        left: -150px;
    }
    
    /*end of nav*/
    
    #coding {
        bottom: 1150px;
    }
    
    #circle-2 {
        left: -90px;
    }
    
    #resume-container {
        display: grid;
        grid-template-columns: auto fr;
        grid-template-rows: auto fr auto;
        grid-template-areas:
        "aside aside"
        "resume resume";
        margin-top: 400px;
        overflow: hidden;
        height: 150vh;
    }
    
}

@media screen and (max-width:500px) {
    .mobile {
        display: contents;
    }
   
    /*nav / home page*/
    nav {
        background-color: black;
        height: 150px;
        z-index: 100;
    }
    
    nav ul {
        top: 60px;
    }
    
    #social-links {
        display: none;
    }
    
    /*end of nav*/
    
    #circle-2 {
        left: -50px;
    }
    
    #coding {
        bottom: 1150px;
    }
    
}
